# Flutter/Dart
*.dart_tool/
*.flutter-plugins
*.flutter-plugins-dependencies
*.packages
.dart_tool/
.packages
build/
flutter_*.png
flutter_*.log

# Android
*.apk
*.ap_
*.aab
*.hprof
.gradle/
build/
local.properties

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Runner.xcworkspace
ios/Runner/Info.plist
ios/Runner/Assets.xcassets
ios/Runner/Runner-Bridging-Header.h

# Misc
*.log
*.lock
.DS_Store
.idea/
.vscode/
*.iml
pubspec.lock